<div class="row justify-content-center mt-3">
  <div class="col-md-5">
    <p class="text-center"><%= link_to "Articles", articles_path, class: "btn btn-primary" %></p>
    <div class="card text-dark bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= @article.title %></h5>
        <p class="card-text"><%= @article.body %></p>
        <p>
          <%= link_to "Edit", edit_article_path(@article), class: "btn btn-warning" %>
          <%= link_to "Delete", article_path(@article),
                      method: :delete,
                      data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        </p>
      </div>
    </div>
  </div>
</div>
<div>
  <%= turbo_stream_from "comments" %>
  <div class="row justify-content-center mt-3">
    <div class="col-md-5">
      <h3 class="text-center">Comments</h3>

      <%= turbo_frame_tag "comments" do %>
        <%= render @article.comments %>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <h3 class="text-center mb-4">Add comment</h3>
    <div class="col-md-12">
      <%= turbo_frame_tag "comments" do %>
        <%= render "comments/form" %>
      <% end %>
    </div>
  </div>
</div>



